/* .oneTweet << styled */
/* .publisherPhoto img { 
    width: 48px;
    height: 48px;
} */
.overlay {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: grey;
  position: fixed;
  opacity: 0.7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-reply {
  width: 45%;
  height: 68%;
  /* display: flex; */
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mainColor);
  border-radius: 21px;
  border-color: unset;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  z-index: 2;
}

.popUpContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.popUpContainer .upperSection {
  justify-content: center;
  display: flex;
  width: 100%;
  /* padding: 10px; */
  align-items: center;
  /* justify-content: center; */
}

.popUpContainer .upperSection .publisherPhoto {
  width: 10%;
  object-fit: cover;
}
.upperSection .publisherPhoto img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: fill;
}
.upperSection .test {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.middle {
  /* height: 15%; */
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 16%;
}

.lowerSection {
  display: flex;
  /* height: 75%; */
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.lowerSection-image {
  width: 10%;
}
.lowerSection-image img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: fill;
}

.lowerSection-input {
  display: flex;
  padding: 15px;
  height: 200%;
  width: 100%;
}

.lowerSection-input input {
  width: 100%;
  height: 100%;
  outline-style: none;
  font-size: 20px;
  padding: 10px;
  border: none;
}

.inReplyButton {
  position: absolute;
  bottom: 4%;
  right: 4%;
  width: 15%;
  height: 11%;
  /* border: 32px; */
  border-radius: 35px;
  background-color: var(--blueColor2);
  border: navajowhite;
  color: var(--SubColor);
  font-weight: 900;
  cursor: pointer;
}

.inReplyClose {
  position: absolute;
  top: 4%;
  left: 5%;
  cursor: pointer;
}

.inCommenttweetBody {
  margin-left: 10px;
}

.PublisherUser { 
  margin-left: 10px;
}