/* .singleTweet { 
    margin-top: 70px;
} */

.singleTweet-Container {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
  width: 100%;
  /* height: 95vh; */
  padding: 0 10px 10px;
}

.single-Con {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
}

.single-Con .oneTweet {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--SubColor);
  margin: 14px 0;
  align-items: center;
}

.displayName-single {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.displayName-single p {
  font-size: 1.1em;
  font-weight: 600;
}

.publisherImg-single {
  display: flex;
  width: 10%;
}
.publisherImg-single img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  
}

.userName-drop {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.tweetBody-single {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
}

.tweetBody-single p {
  text-align: left;
  font-weight: 600;
  line-height: 23px;
  font-size: 1.1em;
}

.likesNum-single {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--SubColor);
  border-bottom: 1px solid var(--SubColor);
  cursor: pointer;
}

.Date-single {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btnColor);
}

.singleTweet-Container .bottom-btns {
  margin-top: 2%;
}

.replySingle {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
  padding: 5px;
  border-top: 1px solid var(--SubColor);
  border-bottom: 1px solid var(--SubColor);
}

.photoInReply {
  width: 10%;
}
.photoInReply img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.inputInReply {
  width: 80%;
}
.inputInReply input {
  width: 100%;
  height: 100%;
  border-color: transparent;
  padding: 10px;
  font-size: 20px;
}

.ReplyButton button {
  width: 80px;
  height: 35px;
  border-radius: 18px;
  /* padding: 10px; */
  border-color: transparent;
  background-color: var(--blueColor2);
  color: var(--mainColor);
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  font-size: 15px;
}

.ReplyButton button:hover {
  background-color: var(--blueColor1);
  transition: 0.3s;
}

.inProfileModal {
  padding: 10px;
  width: 35%;
  height: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mainColor);
  border-radius: 10px;
  border-color: unset;
  /* box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px; */
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  z-index: 2;
  flex-direction: column;
}

.profile {
  padding: 10px;
  border-bottom: 1px solid var(--btnColor);
}
.profile img {
  width: 48px;
  height: 48px;
}

/* .follow-unfollow {
  display: flex;
  align-self: flex-end;
} */

.inProfileModal .follow-unfollow button {
  align-self:unset;
  width: 90px;
  height: 35px;
  background-color: var(--mainColor2);
  color: white;
  border-radius: 18px;
  cursor: pointer;
}

.headerAndBtn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.inProfileModal .oneTweet {
  width: 100%;
  gap: 10px;
  font-size: 20px;
  transition: 0.3s;
  margin: 0;
  border: unset;
}

.inProfileModal .oneTweet:hover {
  transition: 0.3s;
  background-color: var(--SubColor);
  cursor: pointer;
}

.inProfileModal .oneTweet img {
  border-radius: 100%;
}

.imgAndUser { 
  display: flex;
  align-items: center;
  width: 80%;
  display: flex;
  gap: 10px;
  
}
