.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: solid 3px var(--SubColor);
  border-top: 0;

}

.test1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.test1 img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.tweetInfo {
  display: flex;
  flex-direction: column;
  background-color: floralwhite;
}

.CommentsSection {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  border-bottom: 3px solid;
}

.Section-Header {
  top: 0;
  position: sticky;
  background-color: var(--mainColor);
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: 100%;
  align-items: center;
  padding: 10px;
  margin: 0 10px 0 10px;
}
