.tweets-Container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 75vh;
  /* to center it  */
  padding: 0 10px 10px;
}

.tweets-Container .oneTweet {
  display: flex;
  width: 100%;
  height: fit-content;
  border-top: 1px solid var(--SubColor);
  border-bottom: 1px solid var(--SubColor);
  justify-content: start;
  align-items: center;
  padding: 10px;
  line-height: 20px;
}

.oneTweet .publisherImg {
  width: 48px;
  height: 100%;
  margin-right: 12px;
}
.oneTweet .publisherImg img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.oneTweet .Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.oneTweet p {
  text-align: left;
}

.oneTweet .displayName {
  width: 100%;
  height: 10%;
  margin-top: 5px;
  /* margin-top: 5px; */
}

.oneTweet .tweetBody {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.oneTweet .tweetbtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 0;
}

.oneTweet .tweetbtn button {
}

/* .dropDown {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
} */

.dropTest {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.list-hide {
  display: none;
  transition: 0.3s;
}

.bottom-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  align-items: center;
  gap: 35%;
  color: var(--btnColor);
}



/* Modify .. */
/* .list-show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  transition: .3s;
}
.follow , .unFollow { 
  position:absolute;
  top: 10px;
  right: 0;
} 

.dropDown { 
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
} */
