.Header { 
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 2%;
    border: var(--blueColor1) 1px solid;
    width: 50%;
    padding: 10px;
}

.Header .BackButton  { 
    width: 20%;
}

.BackButton span { 
    cursor: pointer;
}

.ProfileContainer .Section-Header {
justify-content: start;
gap: 10px;
}

.NumberOfTweet { 
    color: var(--btnColor);
    font-size: 12px;
}

/* .ProfileContainer .Section-Header */


.linksinProfile { 
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    padding-right: 15px;
    border-bottom: 1px solid var(--SubColor);
    height: 4%;
    margin-top: 15px;
}

.linksinProfile a { 
    text-decoration: none;
    color: var(--btnColor);
}

.links-div { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    height: 100%;
    cursor: pointer;
}

.links-div:hover{ 
    background-color: var(--SubColor);
    /* border-bottom: 2px solid var(--blueColor1); */

}

.ProfileContainer { 
    border: 2px solid var(--SubColor);
    /* height: 100%; */
    /* border-bottom: 0; */
    height: 100%;
}

.ProfileContainer .Main {
    width: 100%;
    border: none;
    /* height: -webkit-fill-available; */
    /* height: 100%; */
    margin-top: 10px;
}

.ProfileContainer .Main .tweets-Container .oneTweet { 
    border-top: unset;
    align-items: flex-start;
}

