.HeaderContainer {
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
  /* position: absolute; */
  /* left: 50%;
  transform: translate(-50%); */
  width: 100%;
  /* padding: 10px; */
}
.profile-header {
  width: 100%;
  /* border: red 1px solid; */
}

.profile-header .Cover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header .Cover img {
  object-fit: contain;
  width: 100%;
}

.profile-header .profilImg {
  margin-left: 3%;
  display: flex;
  align-items: center;
  margin-top: -10%;
}
.profile-header .profilImg img {
  object-fit: contain;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  border-color: var(--SubColor);
}

.profileInfo-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  gap: 10px;
  margin-top: 10px;
}
