/* Test */

.HeaderContainer {
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
  /* position: absolute; */
  /* left: 50%;
  transform: translate(-50%); */
  width: 100%;
  /* padding: 10px; */
  height: 20%;
}

.profile-header {
  width: 100%;
  /* border: red 1px solid; */
}

.profile-header .Cover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header .Cover img {
  object-fit: contain;
  width: 100%;
}

.profile-header .profilImg {
  margin-left: 3%;
  display: flex;
  align-items: center;
  margin-top: -10%;
}
.profile-header .profilImg img {
  object-fit: contain;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  border-color: var(--SubColor);
}

.profileInfo-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  gap: 10px;
  margin-top: 10px;
}

.linksinProfile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  padding-right: 15px;
  border-bottom: 1px solid var(--SubColor);
  height: 10%;
  margin-top: 25px;
}

/* MODIFY */

.ProfileContainer {
  /* height: 100%; */
  width: 50%;
}

.ProfileContainer .Section-Header {
  margin: 0;
  height: 5%;
  
}

.HeaderContainer {
  height: 50%;
  width: 100%;
}
/* 5 , 40 >> 55% for others , */

.HeaderContainer .Cover {
  height: 50%;
  width: 100%;
}

.HeaderContainer .Cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  min-height: 100%;
  max-height: 202px;
}

.img-btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}

.img-btnContainer .profilImg {
  width: 20%;
  border-radius: 100%;
  margin-top: -7%;
  margin-left: 1%;
}

.img-btnContainer .profilImg img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid var(--mainColor);
  object-fit: cover;
}

.img-btnContainer .follow-unfollow {
  display: flex;
  align-self: baseline;
  margin-top: 10px;
  margin-right: 10px;
}
.img-btnContainer .follow-unfollow button {
  width: 6.3em;
  height: 2.3em;
  background-color: var(--mainColor2);
  color: white;
  border-radius: 18px;
  font-weight: 600;
  font-size: 1em;
  /* padding: 5px; */
  text-align: center;
  cursor: pointer;
}

.userName,
.info,
.LinksTo {
  height: 10%;
  display: flex;
  /* margin-bottom: 10px; */
  padding: 10px;
}

.info {
  color: var(--btnColor);
}

.LinksTo {
  gap: 10px;
}
.LinksTo a {
  text-decoration: none;
  color: var(--btnColor);
}

.number {
  color: var(--mainColor2);
}

.updateInfo {
  font-weight: 400;
  position: absolute;
  top: 50%;
  right: 25%;
  border-radius: 19px;
  color: var(--mainColor2);
  background-color: var(--SubColor);
  width: 100px;
  height: 36px;
  border: 0.3px solid var(--btnColor);
  padding: 5px;
  outline-style: none;
  cursor: pointer;

}

.Bio { 
  color: var(--mainColor2);
}

.EditProfile { 
    position: absolute;
    left: 70px;
    top: 5px;


}